<mat-toolbar color="primary">
  <img [src]="this.authService.userData.foto" style="border-radius: 50%;height: 50px;" />
  <span class="example-fill-remaining-space ">Bienvenido Administrador {{this.authService.userData.nombre}} a Fonda App.</span>
  <span (click)="CerrarSesion()">Cerrar session</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav>

  </mat-sidenav>
  <mat-sidenav-content>
   <table>
     <thead>
       <tr>
         <th>Correo</th>
         <th>Pedido</th>
         <th>Cantidad</th>
         <th>Fecha</th>
         <th>Estatus</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let item of getData()">
         <td>{{item.correo}}</td>
         <td>{{item.platillo}}</td>
         <td>{{item.cantidad}}</td>
         <td>{{item.fecha|date:'yyyy-MM-dd HH:mm:ss.sss'}}</td>
         <td>{{item.estatus}}</td>
         <td>
           <a (click)="Despachar(item)">Despachar</a>
          </td>
          <td>
              <a (click)="Eliminar(item)">Eliminar</a>
         </td>
       </tr>
     </tbody>
   </table>
  </mat-sidenav-content>
</mat-sidenav-container>