<div class="centerDiv">
    <div class="row center">
        <label>
            Fonda App.
        </label>
    </div>
    <div class="row">
        <button mat-raised-button style="
        background-color: red;
        color: white;
        font-size: large;
        " (click)="Login()"> Ingresa con Google+</button>
    </div>

</div>