.imageback{
    background-image: url(/assets/fudi-app.jpg);    
    background-size: cover;
}
.centerDiv {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }