<mat-toolbar color="primary">
  <img [src]="this.authService.userData.foto" style="border-radius: 50%;height: 50px;" />
  <span class="example-fill-remaining-space ">Bienvenido {{this.authService.userData.nombre}} a Fonda App.</span>
  <span (click)="CerrarSesion()">Cerrar session</span>
</mat-toolbar>

<button (click)="gotoAdministrador()">Administrador</button>
<mat-sidenav-container style="height: 500px;">
  <mat-sidenav>

  </mat-sidenav>
  <mat-sidenav-content style="margin-top: 50px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Selecciona tu comida
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field class="margins-right">
                <mat-label>Selecciona una comida</mat-label>
                <mat-select #selectComida>
                  <mat-option [value]="'Tacos'">
                    Tacos
                  </mat-option>
                  <mat-option [value]="'Pizza'">
                    Pizza
                  </mat-option>
                  <mat-option [value]="'Ensalada'">
                    Ensalada
                  </mat-option>
                  <mat-option [value]="'Enchiladas'">
                    Enchilada
                  </mat-option>
                  <mat-option [value]="'Milanesa'">
                    Milanesa
                  </mat-option>
                  <mat-option [value]="'Platillo del dia'">
                    Platillo del dia
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="margins-right">
                <input matInput #selectCantidad placeholder="cantidad" type="number" value="1">
              </mat-form-field>
              <button mat-raised-button color="primary"
                (click)="AgregarComida(selectComida.value,selectCantidad.value)">Agregar</button>
              <br />

            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Ver pedidos y solicitar.
              </mat-expansion-panel-header>
              <table>
                <thead>
                  <tr>
                    <th>Comida</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.nuevoPedidos">
                    <td>{{item.nombreComida}}</td>
                    <td>{{item.cantidad}}</td>
                  </tr>
                </tbody>
              </table>

              <button mat-raised-button color="accent" (click)="SolicitarComida()">Solicitar comida</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>